*{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    color:white;
}
p{
color:black;
}
p {
    text-align: center;

}
h2 {
    text-align: center;
    color:white;
}
#sidemenu ul
{
    display: inline;
    justify-content: left;
    display: block;
    margin: 10px;
    padding: 10px 0 0 60px;
    width: 260px;
}